.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navigation{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);

  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;
}