<md-toolbar color="primary" class="navigation">
  <button md-button  (click)="navigateToDashboard()">
    <md-icon>Dashboard</md-icon>
    {{title}}
  </button>
  
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>    
    <button *ngFor="let item of menuItems" md-button (click)="goTo(item.link)">
      {{item.caption}}
    </button>    
  </div>
  
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>Menu</md-icon>
  </button>

  <md-menu x-position="before" #menu="mdMenu">    
    <button *ngFor="let item of menuItems" md-button (click)="goTo(item.link)">
    {{item.caption}}
    </button>
  </md-menu>
  
</md-toolbar>
