.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

button{
  width: 350px;
  height: 350px;
  white-space: normal;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
}

@media(max-width: 1024px){
  button{
    width: 250px;
    height: 250px;
    line-height: 18px;
    font-size: 12px;
  }
}

@media(max-width: 839px){
  button{
    width: 200px;
    height: 200px;
    line-height: 18px;
    font-size: 11px;
  }
}

@media(max-width: 480px){
  button{
    width: 100px;
    height: 100px;
    line-height: 18px;
    font-size: 10px;
  }
}

@media(max-width: 320px){
  button{
    width: 80px;
    height: 80px;
    line-height: 18px;
    font-size: 9px;
  }
}