.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.check{
  margin: 10px;
  padding: 88px 35px;
  border-radius: 2px;
  white-space: normal;  
  -webkit-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  background-color: #00E5FF;
}

button{
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  white-space: normal;  
  -webkit-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
  box-shadow: 3px 3px 5px 0px rgba(112,112,112,1);
}

@media(max-width: 1280px){
  button{
    margin: 9px;
    padding: 9px;
    width: 150px;
    height: 150px;
    line-height: 18px;
    font-size: 12px;
  }
  
  .check{
    margin: 9px;
    padding: 0px;
    width: 150px;
    height: 150px;    
  }
}

@media(max-width: 840px){
  button{
    margin: 7px;
    padding: 7px;
    width: 100px;
    height: 100px;
    line-height: 18px;
    font-size: 11px;
  }

  .check{
    margin: 9px;
    padding: 0px;
    width: 100px;
    height: 100px;
  }
}

@media(max-width: 600px){
  button{
    margin: 7px;
    padding: 7px;
    width: 70px;
    height: 70px;
    line-height: 18px;
    font-size: 11px;
  }

  .check{
    margin: 9px;
    padding: 0px;
    width: 70px;
    height: 70px;
  }
}

@media(max-width: 480px){
  button{
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    line-height: 18px;
    font-size: 9px;
  }
}

@media(max-width: 320px){
  button{
    margin: 4px;
    padding: 4px;
    width: 80px;
    height: 80px;
    line-height: 18px;
    font-size: 7px;
  }
}
